

body {

    
    font-family: "Times New Roman", Times, serif;
    
    background-image: url(grey.jpeg);
    background-size : cover;
    background-position : center;
}


h1 {
    color: black;
    text-align: center;
    text-shadow: 2px 2px white; 
    font-size: 10ch;
    font-family:'Lugrasimo', cursive;
    
    

}

img {

    display: block;
    margin-left: auto;
    margin-right: auto;

}

h2 {
    color: black;
    background-color: lightgrey; 
    
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}


@font-face {
    font-family:'Lugrasimo', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
    
}